body {
    margin: 0;
    padding: 0;
    background-color: lightgray;
    font-family: Arial, SansSerif, serif;
}

a {
    text-decoration: none;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: black;
    color: white;
    height: 60px;
}

nav a {
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 26px;
}

nav div {
    justify-content: center;
    align-items: center;
}

nav li {
    list-style: none;
    float: left;
    padding-left: 10px;
}

nav a {
    color: white;
}

header {
    display: flex;
    justify-content: center;
    height: 80px;
}

section {
    display: flex;
    flex-direction: column;
}

section div,
.episode {
    display: flex;
    justify-content: left;
    background-color: white;
    width: 60%;
    margin: 10px auto 10px;
    padding: 20px;
    border-radius: 10px;
}

.episode {
    justify-content: center;
    font-size: 18px;
}

section div.season:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

section div.episode:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

section a {
    color: black;
    font-size: 18px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
    font-size: 12px;
    height: 40px;
}

img {
    width: 100px;
}


.character {
    display: flex;
    justify-content: left;
    background-color: orange;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
}

#characterName {
    vertical-align: center;
    padding: 20px;
}

#weatherinfo {
    display: flex;
    justify-content: space-between;
}

#weatherinfo h2 {
    padding-left: 50px; /* Remove default margin for h2 */
}

