<nav>
    <div>
        <ul>
            <li>
                <p>{{ city }}</p>
            </li>
            <li>
                <form method="GET">
                    <input type="text" name="city" placeholder="Enter city"/>
                    <button type="submit">Get Weather</button>
                </form>
            </li>
            <li>
                <a href="/">Rick & Morty Episodes</a>
            </li>
            <li>
                <form action="/search" method="GET">
                    <input type="text" name="query" placeholder="try S01E01"/>
                    <button type="submit">Search</button>
                </form>
            </li>

        </ul>
    </div>
</nav>