{% include 'Partials/head.twig' %}
{% include 'Partials/navbar.twig' %}
{% include 'Partials/header.twig' %}

<section>
    <p class="episode">{{ episode.episode }} | Air date: {{ episode.airDate.format('Y-m-d') }}</p>
</section>
<section>
    {% for character in episode.characters %}
        <div class="character">
            <img src="{{ character.imgUrl }}">
            {{ character.name }}
        </div>
    {% endfor %}
</section>


{% include 'Partials/footer.twig' %}
